html {
  background-image: url(../icons/background.svg);
  background-size: cover;
}

label {
    font-size: 11px;
    font-style: italic;
}

th, td {
    text-align: right;
    padding-right: 15px;
}

.form-control {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.area {
    border: solid 1px #85b1de;
    background-color: #DDDDDD;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 250px 400px auto 1fr;
    grid-template-areas: ". calculator schedule .";
}

.calculator {
    grid-area: calculator;
    justify-self: start;
    border: solid 1px #85b1de;
    background-color: #00b09b;;
}

.schedule {
    grid-area: schedule;
}
